.Management {
  background-color: rgb(166, 78, 78);
}

._Header {
  width: 100%;
  background-image: linear-gradient(to right, white, rgb(86, 173, 234), white);
  text-align: center;
}

.Home_Button {
  background-color: rgb(56, 136, 193);
  border: none;
  height: 20pt;
  width: 60pt;
  border-radius: 15pt;
  color: rgb(21, 44, 61);
  transition: height 1s, width 1s;
}

.Home_Button:hover {
  background-color: rgb(37, 99, 144);
  border-radius: 15pt;
  height: 25pt;
  width: 65pt;
  color: rgb(87, 169, 231);
  cursor: pointer;
}

.Management_Div {
  background-color: rgb(211, 87, 87);
  width: 300pt;
  height: 300pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Cascadia Code;
  color: rgb(83, 0, 0);
  border-radius: 10pt;
  box-shadow: 5pt 5pt;
}

.Management_Div2 {
  background-color: rgb(147, 61, 61);
  width: 150pt;
  height: 150pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(244, 148, 148);
  border-radius: 30pt;
}

.Procurement {
  background-color: rgb(255, 253, 185);
}

.Procurement_Div {
  background-color: rgb(255, 249, 125);
  width: 300pt;
  height: 300pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Cascadia Code;
  color: rgb(200, 192, 33);
  border-radius: 10pt;
  box-shadow: 5pt 5pt;
}

.Procurement_Div2 {
  background-color: rgb(219, 210, 45);
  width: 150pt;
  height: 150pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fcfe5e;
  border-radius: 30pt;
}

.Documentation {
  background-color: rgb(85, 78, 166);
}

.Documentation_Div {
  background-color: rgb(130, 123, 205);
  width: 300pt;
  height: 300pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Cascadia Code;
  color: rgb(65, 60, 105);
  border-radius: 10pt;
  box-shadow: 5pt 5pt;
}

.Documentation_Div2 {
  background-color: rgb(64, 72, 136);
  width: 150pt;
  height: 175pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(90, 118, 255);
  border-radius: 30pt;
}

.Community {
  background-color: rgb(72, 127, 75);
}

.Community_Div {
  background-color: rgb(49, 92, 51);
  width: 300pt;
  height: 300pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Cascadia Code;
  color: rgb(24, 56, 25);
  border-radius: 10pt;
  box-shadow: 5pt 5pt;
}

.Community_Div2 {
  background-color: rgb(20, 65, 22);
  width: 150pt;
  height: 150pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(104, 197, 118);
  border-radius: 30pt;
}

.spawn_room {
  background-color: rgb(105, 105, 105);
  border-radius: 20pt;
  width: 400pt;
  height: 200pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Cascadia Code;
}

.gradient {
  background-image: linear-gradient(to right, white, rgb(86, 173, 234), white);
}

._ {
  margin: 0;
  padding: 0;
}

.Man {
  color: rgb(83, 0, 0);
}

.Man:hover {
  color: rgb(183, 0, 0);
}

.Com {
  color: rgb(24, 56, 25);
}

.Com:hover {
  color: rgb(0, 159, 8);
}

.Doc {
  color: rgb(65, 60, 105);
}

.Doc:hover {
  color: rgb(0, 75, 195);
}

.Pro {
  color: rgb(159, 153, 28);
}

.Pro:hover {
  color: rgb(197, 177, 0);
}
